  <h1>The Olympic Athletes of...</h1>
  <br>
  <br>

  <img src="http://fulltwist.net/wp-content/uploads/2011/02/london-2012.png">

  <br>
  <br>

  <p class='lead'>Cutting-edge data analysis of the London 2012 Olympic athletes, using data from the <a href="http://www.theguardian.com/sport/datablog/2012/aug/07/olympics-2012-athletes-age-weight-height#data">Guardian data blog</a>.</p>

  <br>
  <br>
  <br>

  <div>
    <a class='btn btn-primary' href="/all">All</a>    
    <a class='btn btn-primary' href="/oldest">Oldest</a>    
    <a class='btn btn-primary' href="/youngest">Youngest</a>    
    <a class='btn btn-primary' href="/men">Male Athletes</a>    
    <a class='btn btn-primary' href="/chinese_ladies">Female Chinese Athletes</a>    
  </div>
