<!DOCTYPE html>
<html>
<head>
  <title>Olympic Athletes of 2012</title>
  <link rel='stylesheet' href='/dist/css/bootstrap.css'>
</head>
<body>
  <div class='container'>

    <%= yield %>

  </div>
</body>
</html>